
.auditorio{
    
    background-image: url("../img/auditorio/fondo-xl.png");
    
    &__cartelLeft{
       
        grid-row: 1/3;
        padding-bottom: 25px;
       
    }

    &__cartelRight{
        
        grid-row: 1/3;
        padding-bottom: 25px;
    }
}