.cundinamarca{
    width: 100%;    
    height: 100vh;
    max-width:1024px;
    max-height: 641px;

    margin:0 auto;   
    background-image: url("../img/details/cundinamarca/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr 0.5fr 2fr ;
    grid-template-rows: 2fr 1fr 2fr;
    overflow: hidden;

    &__tv{
        grid-column: 1/2;
        grid-row: 2/3;
        background-image: url("../img/details/cundinamarca/tv.png");
        background-repeat: no-repeat;
        background-position: center;
    }
    &__cartelLogo{
        grid-column: 3/4;
        grid-row: 1/2;
        background-image: url("../img/details/cundinamarca/cartelUp.png");
        background-repeat: no-repeat;
        background-position: top;
    }
    &__panel{
        grid-column: 5/6;
        grid-row: 1/5;
        background-image: url("../img/details/cundinamarca/panel.png");
        background-repeat: no-repeat;
        background-position: bottom;
    }
}