@import 'animations.scss';
.dominicana{
    
    background-image: url("../img/details/dominicana/fondo.png");

    &__bannerAzul{
         &--item{
            width: 140px;
            height: 270px;
         }
        
    }
    &__bannerLogo{
         &--item{
            width: 200px;
            height: 400px;
         }
     
    }
    &__tv{
        &--item{
            width: 400px;
            height: 200;
        }
    }
    &__bannerNormal{
        &--item{
            width: 140px;
            height: 270px;
        }
    }
  
 }