@import 'animations.scss';

.ediciones{ 
    
    &__banner{    
        align-items: flex-end;
        justify-content: center;
        grid-row: 1/3;

        &--item{
            height: 390px;
            width: 420px;
            background-image: url("../img/details/ediciones/banner.png");        
            background-repeat: no-repeat;   
            background-size: contain;
        }
    }
    &__tv{
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        &--item{
            height: 220px;
            width: 240px;
            background-image: url("../img/details/ediciones/tv.png");        
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            
        }
    }
    &__cartel{
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        &--item{
            height: 240px;
            width: 120px;
            background-image: url("../img/details/ediciones/cartel.png");        
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            
        }
    }
}
 