@import 'animations.scss';

.humanizando{    
    &__tv{
        padding-left: 140px;

        &--item{
            width:140px;
            height: 85px; 
        }
        
    }
    &__banner{
        align-items: flex-end;
        padding-bottom: 10px;
        &--item{
            width:140px;
            height: 380px; 
        }
     
     }
    &__cartel{
        &--item{
            width:115px;
            height: 250px; 
        }
    }    
  
}