
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";



$color-primario: #096191;
$blanco: #dadada;
$color-secundario: #06abc6;
$negro: rgba(0, 0, 0, 0.8);
$color-terciario: #3d838b;
$fuente-primaria: "";
$fuente-secundaria: "";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

.DetailNormal {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template: "info vid" "slider slider ";
    &__about {
        grid-area: "info";
        display: flex;
        &--rrss {
            &--fb {
                svg {
                    width: 45px;
                }
                &:hover {
                    cursor: pointer;
                    transform: translateY(-5px);
                                        transition-duration: 0.4s;

                }
                 
            }
            &--linkedin {
                svg {
                    width: 45px;
                }
                 &:hover {
                    cursor: pointer;
                    transform: translateY(-5px);
                    transition-duration: 0.4s;
                }
            }
            &--twitter {
                svg {
                    width: 45px;
                }
                 &:hover {
                    cursor: pointer;
                    transform: translateY(-5px);
                    transition-duration: 0.4s;
                }
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--img {
            width: 150px;
            img {
                width: 100%
            }
        }
        &--title {
            text-align: center;
            h2 {
                font-size: 2.9rem;
                font-weight: bold;
            }
            p {
                font-size: 1.5rem;
                text-align: 2.3rem;
            }
        }
    }
    &__video {
        grid-area: vid;
        border-radius: 15px;
        iframe {
            border-radius: 15px;
            border: none;
        }
    }
    &__slider {
        grid-area: slider;
        width:100%;
        max-width:1024px;
        margin: 0 auto;
    }
}

.glide{
    padding: 10px 0px;
}
.glide__slide{
    img{
    margin:0 auto;
    }
    text-align:center;
}
.glide__arrows{
    text-align:center;
}
.glide__arrow{
    border:none !important;
}

.slideItemCustom{
    width:400px;
    border-radius:15px;
    border:none;
    box-shadow: 1px 9px 15px 1px #222423;


}