@import 'animations.scss';

.queretaro {
    
    &__banner{
      
        padding-bottom: 15px;
        &--item{
            height: 350px;
            width: 130px;
            background-image: url('../img/details/queretaro/banner.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

    }
    &__tv{
       
        padding-left: 20px;
        &--item{
            height: 90px;
            width: 140px;
            background-image: url('../img/details/queretaro/tele.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &__cartel{
       justify-content: center;
       align-items: center;
        &--item{
        height: 245px;
        width: 150px;    
       
        }
    }
}


    