@import 'animations.scss';

.dau{
    background-image: url('../img/details/dau/fondo.png');
    &__cartelLeft{
        &--item{
            width: 140px;
            height: 270px;
            padding:5px;            
            a{
                height: 175px;
                margin:0 auto;
                img{
                    border-radius: 5px;
                    transition-duration: 400ms;

                    &:hover{
                        transform: scale(1.6);
                    }
                }
            }
        }
    }
    &__video{
        grid-column: 2/4;
            display: flex;
            justify-content: center;
            padding-left: 80px;
        &--item{
            display: flex;
            width: 160px;
            height: 90px;
            transition-duration: 400ms;
            &:hover{
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }

    &__cartelRight{
        &--item{
            width: 140px;
            height: 270px;
            padding:5px;   
            &--title{
                font-size: 1.7rem;
                text-align: center;

            }         
            a{
                height: 175px;
                margin:0 auto;
                img{
                    border-radius: 5px;
                    transition-duration: 400ms;
                    &:hover{
                        transform: scale(1.6);
                    }
                }
            }
        }
    }
    &__banner{
        display: flex;
        align-items: flex-end;
        padding-bottom: 45px;
        
        &--item{
            width: 131px;
            height: 324px;
            &--title{
                text-align: center;
                background-size: cover;


            }
            img{
                width: 100px;
                margin:0 auto;
                transition-duration: 400ms;
                &:hover{
                    transform:scale(1.6);
                    cursor:pointer;
                }
            }
        }
    }

}
