@import 'animations.scss';


.social {

    background-image: url('../img/details/social/fondo.png');  
    background-size:cover;
    &__cartelLeft{
        &--item{
            width: 140px;
            height: 270px;
            a{
            transition-duration:400ms;
                height:170px;
            &:hover{
                transform:scale(1.5);
                cursor:pointer;
            }
            }
        }
    }

    &__tv{
        &--item{
            width:320px ;
            height: 200px;
            iframe{
                width:280px ;
                height: 160px;    
            }
        }
    }
    &__banner{
        padding-bottom:25px;
        transform:
        perspective(800px)
        rotateY(25deg) scale(0.9)
        rotateX(10deg);
        &--item{ 
            height: 400px;
            width: 280px; 
            padding-left:10px;
            &--content{
                ul{
                    li{
                        transform:
                            perspective(800px)
                            rotateY(25deg) scale(0.9)
                            rotateX(10deg);
                            filter: blur(0.3px);
                            opacity: 0.9;
                      width:75px;      
                    }
                }
            }

        }
    }
    &__cartelRight{
        &--item{
             width: 140px;
            height: 270px;
             a{
                height:170px;
                transition-duration:400ms;
                &:hover{
                transform:scale(1.5);
                cursor:pointer;
            }

            }
        }
    }
}