@import 'animations.scss';

.damassalud{
    
    &__banner{
       
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 10px;
        &--item{
            width:120px;
            height: 340px;
            background-image: url("../img/details/damassalud/banner.png");
            background-repeat:no-repeat ;
            background-size: contain;
        }
    } 
    &__tv{
       
        justify-content: center;
        align-items: center;
        padding-left: 30px;
        &--item{
            width: 140px;   
            height: 85px;
            background-image: url("../img/details/damassalud/tv.png");
            background-repeat:no-repeat ;
            background-size: contain;
        }
    }
    &__cartel{
        
        align-items: center;
        &--item{
            height: 230px;   
            width:  115px;
            background-image: url("../img/details/damassalud/cartel.png");
            background-repeat:no-repeat ;
            background-size: cover;        
        }  
    }
}

