.institute{
    width: 100%;    
/*     max-width:1024px;
 */    max-height: 641px;
    margin:0 auto;
    height: 100vh;
    background-image: url("../img/details/institute/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns:1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;

    &__tv{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        justify-content: flex-end;
        
        &--item{
            width: 232px;
            height: 142px;
            background-image: url("../img/details/institute/tv.png");
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }


    }
    &__logo{
        grid-column: 2/3;
        grid-row: 1/2;
        display:flex;
        justify-content: flex-end;
        &--item{
            width: 308px;
            height: 271px;
            background-image: url("../img/details/institute/cartelHead.png");
            background-repeat: no-repeat;
            background-position: center;
        }

    }
    &__panel{
        grid-column: 3/4;
        grid-row: 2/3;
        &--item{
            width: 204px;
            height: 422px;
            background-image: url("../img/details/institute/panel.png");
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
 /*    &__tv{
        background-image: url("../img/details/institute/tv.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 232px;
        height: 142px;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        iframe{
            transform: perspective(900px) rotateY(26deg) scale(1) translateX(10px);
        }
    }
    &__logo{
        background-image: url("../img/details/institute/cartelHead.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 308px;
        height: 267px;
        align-self: top;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transition-duration: 400ms;

        img{
            width:190px;
            height: auto;
            margin-bottom: 20px;
        }
        &:hover{
            transform: scale(1.1);
            cursor: zoom-in;
        }
    }
    &__panel{
        background-image: url("../img/details/institute/panel.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 428px;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 90px 30px 0 0;
        &--item{

            width:140px;
            margin:0 auto;
            transform:
            perspective(800px)
            rotateY(25deg) scale(0.9)
            rotateX(10deg);
          filter: blur(0.6px);
          opacity: 0.7;
          transition: 0.6s ease all;
        
          &:hover {
              cursor:pointer;
            transform:
              perspective(800px)
              rotateY(-15deg)
              translateY(-50px)
              rotateX(10deg)
              scale(1.4);
            filter: blur(0);
            opacity: 1;
          }

        }
    }
}
 */