@import 'animations.scss';

.cundinamarca{
    
    background-image: url("../img/details/cundinamarca/fondo.png");

    
    &__tv{
       &--item{
        width: 230px;
        height: 150px;
       }
        
    }
    &__cartelLogo{
        &--item{
           width: 275px;
           height: 240px;
        }
    }
    &__panel{
        &--item{
           width: 180px;
           height: 400px;
        }
    }
  
}