body{
    max-width: 1640px;
    margin:0 auto;
}

.humanizando{        

    background-image: url("../img/details/humanizando/fondo-xl.png");

    background-size: cover;

    &__cartel{
        grid-column: 5/6;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}