.contenedor {    
    background-image: url('../img/pabellon/pabellon-xl.jpg');  
    
    &__stands{
        padding:12px;        
        transform: rotate(315deg); 
        margin-right: 120px;  
        grid-gap:6px; 
        margin-top:0px;   
    } 

} 

.a, .b, .c, .d, .e, .f, .g, .h, .i,.j,.h,.i,.j,.k,.l { 
    width: 125px;
    height: 125px;
}
    