@import'styleSass';

.QuestionButton{
    position: fixed;
    right: 15px;
    bottom: 25px;
    background: #096191;
    border-radius: 25px;
    padding: 4px;
    transition-duration: 400ms;
    
    &:hover{
      transform: scale(1.2);
      background: #0c8fa7;
  }
}
.QuestionButtonZoom{
  position: fixed;
  right: 15px;
  bottom: 165px;
  background: #096191;
  border-radius: 25px;
  padding: 4px;
  transition-duration: 400ms;
  img{
    width:52px;
    height: 52px;
  }
  &:hover{
    transform: scale(1.2);
    background: #0c8fa7;
    
  }

}
.QuestionButtonOff{
  position: fixed;
  right: 15px;
  bottom: 95px;
  background: #096191;
  border-radius: 25px;
  padding: 4px;
  transition-duration: 400ms;
    &:hover{
      transform: scale(1.2);
      background: #0c8fa7;
     
    }

}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.modalQuestion {

  width: 300px;
  height: 250px;  
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  z-index: 2;  
  position: absolute;
   top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  margin: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: white;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.475210066936931) 100%);
  
  h2{
    color:whitesmoke;
    font-weight: 500;
    font-size: 1.4rem;
  }
  &__notification{
    color:#53e12ccc;
    font-weight: 700;
    font-size: 1.2rem;
  }
  &__error{
    color:#8e0606;
    font-weight: 500;
    font-size: 1.2rem;
  }
  textarea{
        padding:10px;
        width: 100%;
        border-radius:8px;
        border:0.2px solid $color-primario;        
        width:80%;
        font-size: 1.3rem;               
        color:$color-primario;
        margin:10px 0;
        &:focus{
            border: 1.4px solid $color-primario !important;
        }

  }
  &__button{
          margin:0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          background:$color-primario;
          border-radius: 30px;
          padding:8px;
          border:1px solid $color-primario;
          font-size: 1.2rem;
          width:80%;
          font-weight: 700;
          color:white;
          svg{
              height:30px;
              width:30px;
              color:white;       
          }
    &:hover{
            
        transform: scale(1.1);                         
    }

  }
  &__close{
    display: flex;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    svg{
      height:20px;
              width:20px;
    }
    &:hover{
      transform:scale(1.1);
      cursor: pointer;
    }
  }

}
.overlay{
background: rgba(0,0,0,.5);
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
}

@keyframes modalIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}