.contenedor{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

}
.card{
    &:hover{
        transform: scale(1.1);
        transition-duration: 400ms;
    }
}

.cardCustom{
    transition-duration: 400ms;
    &:hover{
        transform: scale(1.04);
        
    }
}