
/* @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
 */
/* @font-face {
    font-family: 'CalifornianBold';    
    src: url('../font/custom/californian.ttf' );   
    src: url('../font/custom/.ttf' ); 
}

@font-face {
    font-family: 'Corbel';    
    src: url('../font/custom/corbel/CORBEL.TTF' );  
    font-family: 'CorbelBold';    
    src: url('../font/custom/corbel/CorbelBold.ttf' );  
}
 */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');
$color-primario: #096191;
$blanco: #dadada;
$color-secundario: #06abc6;
$negro: rgba(0, 0, 0, 0.8);
$color-terciario: #3d838b;
$fuente-primaria:  'CalifornianBold', "sans-serif";
$fuente-secundaria: 'Montserrat', "sans-serif";
$fuente-terciaria: "CorbelBold", "sans-serif";


