
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
@font-face {
    font-family: 'Californian';    
    src: url('../font/custom/califb.ttf' );   
}

@font-face {
    font-family: 'Corbel';    
    src: url('../font/custom/corbel/CORBEL.TTF' );   
}

// USAGE



$color-primario: #096191;
$blanco: #dadada;
$color-secundario: #06abc6;
$negro: rgba(0, 0, 0, 0.8);
$color-terciario: #3d838b;
$fuente-primaria:  'Californian', "sans-serif";
$fuente-secundaria: "Corbel", "sans-serif";

