
@import 'styleSass.scss';

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;  
}
body{
    font-family:$fuente-secundaria;  
}
h2{
    font-weight:bold;
}
h3{
    font-weight:bold;
}


.button {
    padding: 13px;
    border: none;
    border-radius: 15px;
    background-color: $color-secundario;
    color: $blanco;
    font-size: 1.8rem;
    font-weight:bold;
    margin-top:15px;
    &:hover{
        transform:translatey(15px);
        transition-duration: 0.4s;
    }
}
#slider1{
    background-image: url("../img/back_slider.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:1024px;
    height: 400px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    h2{
        font-size:2.8rem;
        color:$blanco;
        max-width:550px;
    }

}

#slider2{

    background-image: url("https://images.unsplash.com/photo-1612404748636-6a623b48b4dc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    transition:all .5s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:1024px;
    height: 400px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    z-index:2;
    h2{
        font-size:2.8rem;
        color:$color-primario;
        max-width:450px;
        font-weight:800;
        z-index:5;
        font-family: $fuente-terciaria;
    }
    /* &:hover{
        filter: grayscale(80%);
    } */
}


#slider3{

    background-image: url("https://images.unsplash.com/photo-1611874452432-3a267c766bfc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:1024px;
    height: 400px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    h2{
        font-size:2.8rem;
        color:$color-secundario;
        max-width:450px;
    }

}

.menuMain{
    position:initial;
    z-index:5;    
/* box-shadow: 0px 10px 28px 3px rgba(61,59,61,1); */
}
.dropdownContent{
    transition: all 0.2s ease-in-out;
  overflow: hidden;
  position:absolute;
  background: #eae2e29c;
  border: solid 1px rgb(222, 222, 222);
  width: 150px;
  cursor: pointer;
  margin:0 0 0 -40px;
  border:none;
  box-shadow: 1px 5px 17px 0px #232121;
  border-radius: 12px;
  padding:10px 10px 10px 10px;
  line-height:1.6rem;
  
}
.dropdown{
    em{
        font-size:1.2rem; 
        color: #096191;
        margin-bottom:55px;

 }
}
.dropdown li{
    
    font-size:1.8rem ! important;
    margin-bottom:13px;
    font-family: "CalifornianBold", "sans-serif";
    font-weight: bold;
    color: #096191;
    text-align:right;
    &:hover{        
        color:#06abc6;
    }
}

.dropdownClose{    
  height: 0px;
  display:none;
}


.nav{
    box-shadow: 0px 4px 20px 0px #3d3b3d;

    position:relative;
    z-index:6;
}
.hero{
    width: 100%;
    height: 60vh;
    background-color: $blanco;
/*  background-image: url("../img/back_slider.png");
 */  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__Tracks{
        height:100%;
        &--item{
            img{
                width:100%;
/*                 position:relative;
 */            }
            &--content{
                position: absolute;

            }

        }
    }
}
/* 
.hero {
    width: 100%;
    height: 70vh;
    background-color: $blanco;
 background-image: url("../img/back_slider.png");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__item {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--title {
                font-family: $fuente-primaria;
            font-weight:bold;
            max-width: 620px;
            text-align: center;
            color: $blanco;
            font-size: 3.2rem;
        }
    }
}
 */

.callToAction {
    /* max-height: 450px; */
    display: flex;
    padding: 25px;
    flex-wrap: wrap;
    justify-content: center;
    &__img {
        width: 50%;
        min-width: 420px;
        img {
            border-radius: 20px;
            width: 100%;
        }
    }
    &__content {
        width: 50%;
        padding: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 750px;
        
        h2 {
            color: $color-primario;
            font-weight: bold;
            font-size: 3.4rem;
            padding-bottom: 20px;
        }
        p {
            color: $negro;
            font-size: 2rem;
            line-height: 3.5rem;
        }
    }
}

.icons {
    height: 150px;
    background-color: #096191;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__item {
        text-align: center;
        margin: 0 auto;
    }
}

.conferencistas {
    &__content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 15px 0;
    }
    &__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 3.5rem;
        color: $color-primario;
    }
    &__item {
/*         max-width: 185px;
 */        width:250px;
        text-align: center;
        &--img {
            width: 100%;
            img {
                width:120px;
                height:120px;
                border-radius: 45px;
                border: none;
                margin:0 auto;
            }
        }
        &--content {
            font-size: 2.2rem;
            display-wrap:wrap;
            p {
                font-size: 1.7rem;
                font-weight: lighter;
            }
        }
    }
}

.panelistas {
    &__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 3.5rem;
        color: $color-primario;
    }
    &__content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 15px 0;
    }
    &__item {
        max-width: 185px;
        text-align: center;
        &--img {
            width: 100%;
            img {
                border-radius: 45px;
                border: none;
            }
        }
        &--content {
            font-size: 2.2rem;
            p {
                font-size: 1.7rem;
                font-weight: lighter;
            }
        }
    }
}

.sponsors {
    &__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 3.5rem;
        color: $color-terciario;
        font-weight: bold;
    }
    &__content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 15px 0;
    }
    &__item {
        &--img {
            width: 120px;
            /*
            border-radius: 50%;
            border: none;
            background-color: $color-terciario; */
        }
    }
}

.banner {
    width: 100%;
    background-color: #06abc6;
    color: $negro;
    text-align: center;
    font-size: 3.7rem;
    padding:25px;
    font-family:$fuente-primaria;
    
}
.nav{
    position:relative;
}
.nav ul li {
    font-size: 1.8rem;

}




.glide{
/*     padding: 10px 0px;
 */}
.glide__slide{
    img{
    margin:0 auto;
    }
    text-align:center;
}
.glide__arrows{
    text-align:center;
}
.glide__arrow{
    box-shadow:none;
    border:none;
}

.slideItemCustom{
    width:150px;
    border-radius:15px;
    border:none;
/*     box-shadow: 1px 9px 15px 1px #222423;
 */

}
.icons{
    display:none;
}
.menuLobby{
    font-family:$fuente-primaria;
    font-weight:bold;
    color:$color-primario;
    &:hover{
        animation: fadeIn ease 20s;
        transform:translatey(7px);
        transition-duration: 0.4s;
        color:$color-secundario;
        
    }
}
@keyframes fadeIn {
0% {opacity:0.6;}
100% {opacity:0.9;}
}



@media (max-width: 767px) {
  .navicon {
    width: 1.125em;
    height: .125em;
  }

  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
    content: '';
    background: #3D4852;
  }

  .navicon::before {
    top: 5px;
  }

  .navicon::after {
    top: -5px;
  }

  .menu-btn:not(:checked) ~ .menu {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    display: block;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::before,
  .menu-btn:checked ~ .menu-icon .navicon::after {
    top: 0;
  }
}
