@charset "UTF-8";
.auditorioBlue {
  background-image: url("../img/auditorio/blue/fondo-xl.png");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 1fr;
}
.auditorioBlue__cartelLeft {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.auditorioBlue__cartelLeft--item {
  height: 240px;
  width: 115px;
  background-image: url("../img/auditorio/bannerLeft.png");
  background-size: cover;
}
.auditorioBlue__pantalla {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
}
.auditorioBlue__pantalla iframe {
  height: 100%;
  width: 100%;
}
.auditorioBlue__cartelRight {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.auditorioBlue__cartelRight--item {
  height: 240px;
  width: 115px;
  background-image: url("../img/auditorio/bannerLeft.png");
  background-size: cover;
}

/* Tab content - closed */
.tab-content {
  max-height: 0;
  transition: max-height 0.35s;
}

/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

/* Label formatting when open */
.tab input:checked + label {
  /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
  font-size: 1.25rem;
  /*.text-xl*/
  padding: 1.25rem;
  /*.p-5*/
  border-left-width: 2px;
  /*.border-l-2*/
  border-color: #096191;
  /*.border-indigo*/
  background-color: #f8fafc;
  /*.bg-gray-100 */
  color: #096191;
  /*.text-indigo*/
}

/* Icon */
.tab label::before {
  float: left;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  transition: all 0.35s;
}

/* Icon formatting - closed */
.tab input[type=checkbox] + label::before {
  content: "+";
  font-weight: bold;
  /*.font-bold*/
  border-width: 1px;
  /*.border*/
  border-radius: 9999px;
  /*.rounded-full */
  border-color: #b8c2cc;
  /*.border-grey*/
}

.tab input[type=radio] + label::before {
  content: "▾";
  font-weight: bold;
  /*.font-bold*/
  border-width: 1px;
  /*.border*/
  border-radius: 9999px;
  /*.rounded-full */
  border-color: #b8c2cc;
  /*.border-grey*/
  margin-right: 5px;
}

/* Icon formatting - open */
.tab input[type=checkbox]:checked + label::before {
  transform: rotate(315deg);
  background-color: #096191;
  /*.bg-indigo*/
  color: #f8fafc;
  /*.text-grey-lightest*/
}

.tab input[type=radio]:checked + label::before {
  transform: rotateX(180deg);
  background-color: #096191;
  color: #f8fafc;
}

.cajaText {
  border-color: #096191;
  font-size: 16px;
}

.titleText {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.swing-in-top-bck {
  -webkit-animation: swing-in-top-bck 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-bck 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@media (max-width: 500px) and (orientation: portrait) {
  .auditorioBlue {
    background-image: none;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .auditorioBlue__cartelLeft {
    display: none;
  }
  .auditorioBlue__pantalla {
    display: none;
  }
  .auditorioBlue__cartelRight {
    display: none;
  }
  .auditorioBlue__bannerRight {
    display: none;
  }

  .tab-content {
    display: none;
  }

  .contenido {
    display: none;
  }

  .iconRotate {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .iconRotate em {
    font-size: 27px;
  }
  .iconRotate svg {
    height: 50vh;
    width: 50%;
    -webkit-animation: rotateCell 3s ease 0s infinite normal none;
            animation: rotateCell 3s ease 0s infinite normal none;
  }

  @-webkit-keyframes rotateCell {
    43.3% {
      transform: rotate(90deg);
    }
  }

  @keyframes rotateCell {
    43.3% {
      transform: rotate(90deg);
    }
  }
}
