body {
  max-width: 1640px;
  margin: 0 auto;
}

.gray {
  background-image: url("../img/details/dayarit/fondo-xl.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 641px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 2.5fr 1.5fr 2fr;
}
.gray__cartelRight {
  padding-bottom: 50px;
}
.gray__cartelRight {
  grid-column: 6/7;
  justify-content: flex-start;
}
