.dominicana {
  background-image: url("../img/details/dominicana/fondo-xl.png");
}
.dominicana__bannerAzul--item {
  width: 140px;
  height: 321px;
}
.dominicana__bannerLogo--item {
  width: 229px;
  height: 451px;
}
.dominicana__tv--item {
  width: 308px;
  height: 180px;
}
.dominicana__bannerNormal--item {
  width: 140px;
  height: 321px;
}
