.gray {
  background-image: url("../img/details/guatemala/fondo-xl.png");
}
.gray__panel--item {
  width: 237px;
  height: 466px;
}
.gray__banner--item {
  width: 93px;
  height: 378px;
}
.gray__cartelUp--item {
  width: 280px;
  height: 304px;
}
.gray__cartelRight {
  justify-content: flex-end;
  align-items: flex-start;
}
.gray__cartelRight--item {
  width: 85px;
  height: 300px;
}
